.title {
    text-align: center;
}

.fila {
    display: inline-block;
    font-size: 0;
    width: 100%
}

.caja {
    display: inline-block;
    width: 33.3%;
    padding-top: 25%;
}

.caja_verde {
    width: 100%;
    padding-top: 3%;
}

.pie {
    background-color: lightblue;
}